[user]
	name = Thomas Tourlourat
	email = thomas@tourlourat.com

[core]
    editor = "vim"
    filemode = false
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = /Users/armetiz/.gitignore

[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[diff]
    noprefix = true

[alias]
    logg = log --pretty=format:'%C(yellow)%h%C(reset) %s %C(cyan)%cr%C(reset) %C(blue)%an%C(reset) %C(green)%d%C(reset)' --graph --date-order

[push]
	default = simple
